/* reset do css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color:#fff;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  font-size: 24px;
  color: #000;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
}
.menu a {
  display: block;
  padding: 10px 20px;
  transition: color 100ms;
}

.menu {
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 0 5px #333;
}
.menu a:active,
.menu a:hover {
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.menu li{
  list-style: none;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.site-subtitle,
.site-title {
  color:white;
  text-align: center;
}

.site-subtitle {
  color: #fff;
}

.sobre {
  min-height: 100vh;
  padding: 3em;
  background-image: url('./../img/torta.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.sobre p{
  /*! margin-top: 3em; */
  text-align: center;
  color: #8b226b;
}
.sobre .avatar{
  text-align: center;
}
.sobre .avatar img{
  border-radius: 10px;
  width: 25%;
}

.img-portfolio{
  width: 300px;
}
.portfolio{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
  justify-content: center;
}
.itens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3em;
  align-items: baseline;
  flex-wrap: wrap;
}

figcaption {
  text-align: center;
}

.itens figure {
  margin-top: 2em;
  text-align: center;
}
.itens figure:active,
.itens figure:hover {
  filter: opacity(100%) grayscale(0);
}
.itens a{
  padding: 0 20px;
}

a,a:active, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

.separador  {
  min-height: 100vh;
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 2em;
}

.separador h2,
.separador h3 {
  font-weight: 300;
  text-align: center;
}

.img-cardapio{
  width: 200px;  
}

.fig-cardapio {
  text-align: center;
}

.texto-destaque {
  /*text-shadow: 0 0 10px #ccc;*/
  font-family: 'Cookie', cursive;
  color: #fff;
  font-size: 3em;
}

.chevron {
  text-align: center;
  margin-top: 4.5em;
}

.chevron img {
  width: 80px;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-7 8:1:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}

.shake-vertical {
	-webkit-animation: shake-vertical 2.8s linear infinite both;
	        animation: shake-vertical 2.8s linear infinite both;
}